body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(rgba(95, 114, 190, .8),rgba(155, 35, 234, .7)),url(../img/fondobody.webp);
    background-size: cover;
    background-position: center;
    color:black;
}
.logo{
    height: 120px;
    margin-top: 20px;
}
.text-description{
    letter-spacing: 2px;
    font-family: sans-serif;
}
.form-control{
    background: transparent !important;
    color:black !important;
}
a .fab{
    color:black;
    font-size: 30px;
    margin: 0 10px;
}